In [5]:
# Import the libraries

import pandas as pd

In [7]:
df1 = pd.read_csv('vgsales.csv')

## vgsales.csv

In [8]:
df1 = pd.read_csv('vgsales.csv')

# returning few rows
df1.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [9]:
# count of rows % columns

df1.shape

(16598, 11)

In [10]:
# list of columns

df1.columns.tolist()

['Rank',
 'Name',
 'Platform',
 'Year',
 'Genre',
 'Publisher',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales']

In [47]:
# Data types

df1.dtypes

Rank              int64
Name             object
Platform         object
Year             object
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [11]:
#  Summary information of dataset

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [12]:
# Descriptive Statistics

df1.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [37]:
# Checking missing values

df1.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [38]:
# Convert Year to string and fill missing values
df1['Year'] = df1['Year'].fillna('Not Mentioned')

# Fill Publisher missing values
df1['Publisher'] = df1['Publisher'].fillna('Unknown')

# Quick check
df1[['Year', 'Publisher']].isnull().sum()

Year         0
Publisher    0
dtype: int64

In [40]:
# Checking if nulls gone or not
df1.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [42]:
#  Checking duplicates
df1.duplicated().sum() # There are no duplicates.

0

In [43]:
numeric_cols = ['Rank', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 
               'Global_Sales']

numeric_cols

['Rank', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']

In [45]:
# Summary statistics for numeric columns
df1[numeric_cols].describe()

,Rank,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,41.490000,29.020000,10.220000,10.570000,82.740000

1. Rank

Min = 1, Max = 16600 → looks correct

Mean ~8300 → roughly midpoint

2. Sales Columns (NA_Sales, EU_Sales, etc.)

Mean is quite low (~0.26 for NA, 0.54 for Global) → most games sell very little, a few are huge hits

Max values are very high (Global_Sales max = 82.74 million) → indicates blockbuster games

Many zeros → some games didn’t sell in certain regions

3. Distribution skew

All sales columns are right-skewed → most games have low sales, a few very high

# Saving  vgsales to vgsales_cleaned.csv

In [48]:
df1.to_csv('vgsales_cleaned.csv', index=False)

# Quick check
print("Cleaned vgsales saved successfully!")

Cleaned vgsales saved successfully!

## Loading vgsales_cleaned.csv

In [50]:
df = pd.read_csv("vgsales_cleaned.csv")

In [51]:
# Quick Overview

print("Shape = ", df.shape)

Shape =  (16598, 11)

In [54]:
# Data types
df.dtypes

Rank              int64
Name             object
Platform         object
Year             object
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [55]:
print("Preview top rows:")

df.head()

Preview top rows:

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [60]:
# columns

df.columns.tolist()

['Rank',
 'Name',
 'Platform',
 'Year',
 'Genre',
 'Publisher',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales']

In [56]:
# Descriptive Statistics

df.describe()

,Rank,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,41.490000,29.020000,10.220000,10.570000,82.740000

Mean: 0.54 million

Median (50%): 0.17 million

Max: 82.74 million

This tells:

A small number of blockbuster games dominate sales, while most games sell very little.

➡ Regional insights hidden in the stats

NA_Sales

Mean: 0.26

Max: 41.49

➡ North America is the largest contributor to global sales.

EU_Sales

Mean: 0.15

Strong, but smaller than NA

JP_Sales

Mean: 0.07

Median is 0.00

➡ Many games don’t sell at all in Japan, but a few sell extremely well.

Japan behaves as a niche but high-impact market.”

75% of games are low sellers

From Global_Sales:

75% of games sell less than 0.47 million

25% sell less than 0.06 million

➡ Most games fail commercially
➡ Success is rare and concentrated

In [61]:
# checking nulls
df.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [63]:
# checking duplicates
df.duplicated().sum()

0

### Note: There are no nulls and duplicates

In [65]:
# Identify blockbusters
df.sort_values('Global_Sales', ascending=False).head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [67]:
# Aggregate by platform (why sales are skewed)

platform_sales = (
    df.groupby('Platform')['Global_Sales']
      .sum()
      .sort_values(ascending=False)
)

platform_sales.head(10)

Platform
PS2     1255.64
X360     979.96
PS3      957.84
Wii      926.71
DS       822.49
PS       730.66
GBA      318.50
PSP      296.28
PS4      278.10
PC       258.82
Name: Global_Sales, dtype: float64

In [68]:
# Aggregate by genre (what sells)

genre_sales = (
    df.groupby('Genre')['Global_Sales']
      .sum()
      .sort_values(ascending=False)
)

genre_sales

Genre
Action          1751.18
Sports          1330.93
Shooter         1037.37
Role-Playing     927.37
Platform         831.37
Misc             809.96
Racing           732.04
Fighting         448.91
Simulation       392.20
Puzzle           244.95
Adventure        239.04
Strategy         175.12
Name: Global_Sales, dtype: float64

In [70]:
#  Regional comparison (where money comes from)

df[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].sum()

NA_Sales       4392.95
EU_Sales       2434.13
JP_Sales       1291.02
Other_Sales     797.75
dtype: float64

In [71]:
df.sort_values('Global_Sales', ascending=False).head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

## EDA Questions for vgsales_cleaned.csv

#### Question 1: Which region generates the most game sales?

In [87]:
region_sales = df[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].sum()
print("Region with highest sales: ")
region_sales


# North America contributes the highest share of global video game sales.

Region with highest sales:

NA_Sales       4392.95
EU_Sales       2434.13
JP_Sales       1291.02
Other_Sales     797.75
dtype: float64

#### Question 2:  What are the best-selling platforms?

In [86]:
platform_sales = (
    df.groupby('Platform')['Global_Sales']
      .sum()
      .sort_values(ascending=False)
)

print("Best-Selling plateforms are shown below:")
platform_sales

Best-Selling plateforms are shown below:

Platform
PS2     1255.64
X360     979.96
PS3      957.84
Wii      926.71
DS       822.49
PS       730.66
GBA      318.50
PSP      296.28
PS4      278.10
PC       258.82
XB       258.26
GB       255.45
NES      251.07
3DS      247.46
N64      218.88
SNES     200.05
GC       199.36
XOne     141.06
2600      97.08
WiiU      81.86
PSV       61.93
SAT       33.59
GEN       28.36
DC        15.97
SCD        1.87
NG         1.44
WS         1.42
TG16       0.16
3DO        0.10
GG         0.04
PCFX       0.03
Name: Global_Sales, dtype: float64

#### Question 3: What’s the trend of game releases and sales over years?

In [85]:
yearly_trend = (
    df.groupby('Year')
      .agg(
          Total_Games=('Name', 'count'),
          Total_Sales=('Global_Sales', 'sum')
      )
      .sort_index()
)

print("Trend of game releases and sales over years:")
yearly_trend

Trend of game releases and sales over years:

               Total_Games  Total_Sales
Year
1980.0                   9        11.38
1981.0                  46        35.77
1982.0                  36        28.86
1983.0                  17        16.79
1984.0                  14        50.36
1985.0                  14        53.94
1986.0                  21        37.07
1987.0                  16        21.74
1988.0                  15        47.22
1989.0                  17        73.45
1990.0                  16        49.39
1991.0                  41        32.23
1992.0                  43        76.16
1993.0                  60        45.98
1994.0                 121        79.17
1995.0                 219        88.11
1996.0                 263       199.15
1997.0                 289       200.98
1998.0                 379       256.47
1999.0                 338       251.27
2000.0                 349       201.56
2001.0                 482       331.47
2002.0                 829       395.52
2003.0                 775       357.85
2004.0                 763       419.31
2005.0                 941       459.94
2006.0                1008       521.04
2007.0                1202       611.13
2008.0                1428       678.90
2009.0                1431       667.30
2010.0                1259       600.45
2011.0                1139       515.99
2012.0                 657       363.54
2013.0                 546       368.11
2014.0                 582       337.05
2015.0                 614       264.44
2016.0                 344        70.93
2017.0                   3         0.05
2020.0                   1         0.29
Not Mentioned          271       100.08

#### Question 4: Who are the top publishers by sales?

In [83]:
publisher_sales = (
    df.groupby('Publisher')['Global_Sales']
      .sum()
      .sort_values(ascending=False)
)

print("Top Publishers by sales: ")
publisher_sales.head(10)

Top Publishers by sales:

Publisher
Nintendo                        1786.56
Electronic Arts                 1110.32
Activision                       727.46
Sony Computer Entertainment      607.50
Ubisoft                          474.72
Take-Two Interactive             399.54
THQ                              340.77
Konami Digital Entertainment     283.64
Sega                             272.99
Namco Bandai Games               254.09
Name: Global_Sales, dtype: float64

#### Question 5: Which games are the top 10 best-sellers globally?

In [82]:
top_10_games = (
    df.sort_values('Global_Sales', ascending=False)
      .head(10)
)

print("Top 10 best sellers games globally: ")

top_10_games[['Name', 'Platform', 'Year', 'Global_Sales']]

Top 10 best sellers games globally:

                        Name Platform    Year  Global_Sales
0                 Wii Sports      Wii  2006.0         82.74
1          Super Mario Bros.      NES  1985.0         40.24
2             Mario Kart Wii      Wii  2008.0         35.82
3          Wii Sports Resort      Wii  2009.0         33.00
4   Pokemon Red/Pokemon Blue       GB  1996.0         31.37
5                     Tetris       GB  1989.0         30.26
6      New Super Mario Bros.       DS  2006.0         30.01
7                   Wii Play      Wii  2006.0         29.02
8  New Super Mario Bros. Wii      Wii  2009.0         28.62
9                  Duck Hunt      NES  1984.0         28.31

#### Question 6: How do regional sales compare for specific platforms?

In [90]:
platform_region_sales = (
    df.groupby('Platform')[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']]
      .sum()
      .sort_values(by='NA_Sales', ascending=False)
)

print("Regional sales compare for specific platforms:")
platform_region_sales.head(10)

Regional sales compare for specific platforms:

          NA_Sales  EU_Sales  JP_Sales  Other_Sales
Platform
X360        601.05    280.58     12.43        85.54
PS2         583.84    339.29    139.20       193.44
Wii         507.71    268.38     69.35        80.61
PS3         392.26    343.71     79.99       141.93
DS          390.71    194.65    175.57        60.53
PS          336.51    213.60    139.82        40.91
GBA         187.54     75.25     47.33         7.73
XB          186.69     60.95      1.38         8.72
N64         139.02     41.06     34.22         4.38
GC          133.46     38.71     21.58         5.18

#### Question 7: How has the market evolved by platform over time?

In [92]:
platform_yearly_sales = (
    df.groupby(['Year', 'Platform'])['Global_Sales']
      .sum()
      .reset_index()
      .sort_values(['Year', 'Global_Sales'], ascending=[True, False])
)

print("Market evolved by plateform over time:")
platform_yearly_sales.head(10)

Market evolved by plateform over time:

      Year Platform  Global_Sales
0   1980.0     2600         11.38
1   1981.0     2600         35.77
2   1982.0     2600         28.86
4   1983.0      NES         10.96
3   1983.0     2600          5.83
6   1984.0      NES         50.09
5   1984.0     2600          0.27
9   1985.0      NES         53.44
7   1985.0     2600          0.45
10  1985.0       PC          0.03

#### Question 8:  What are the regional genre preferences?

In [94]:
regional_genre_sales = (
    df.groupby('Genre')[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']]
      .sum()
      .sort_values(by='NA_Sales', ascending=False)
)

print("Regional genre preference shown below:")
regional_genre_sales

Regional genre preference shown below:

              NA_Sales  EU_Sales  JP_Sales  Other_Sales
Genre
Action          877.83    525.00    159.95       187.38
Sports          683.35    376.85    135.37       134.97
Shooter         582.60    313.27     38.28       102.69
Platform        447.05    201.63    130.77        51.59
Misc            410.24    215.98    107.76        75.32
Racing          359.42    238.39     56.69        77.27
Role-Playing    327.28    188.06    352.31        59.61
Fighting        223.59    101.32     87.35        36.68
Simulation      183.31    113.38     63.70        31.52
Puzzle          123.78     50.78     57.31        12.55
Adventure       105.80     64.13     52.07        16.81
Strategy         68.70     45.34     49.46        11.36

#### Question 9: What’s the yearly sales change per region?

In [96]:
yearly_region_sales = (
    df.groupby('Year')[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']]
      .sum()
      .sort_index()
)

print("Yearly sales change per region:")

yearly_region_sales

Yearly sales change per region:

               NA_Sales  EU_Sales  JP_Sales  Other_Sales
Year
1980.0            10.59      0.67      0.00         0.12
1981.0            33.40      1.96      0.00         0.32
1982.0            26.92      1.65      0.00         0.31
1983.0             7.76      0.80      8.10         0.14
1984.0            33.28      2.10     14.27         0.70
1985.0            33.73      4.74     14.56         0.92
1986.0            12.50      2.84     19.81         1.93
1987.0             8.46      1.41     11.63         0.20
1988.0            23.87      6.59     15.76         0.99
1989.0            45.15      8.44     18.36         1.50
1990.0            25.46      7.63     14.88         1.40
1991.0            12.76      3.95     14.78         0.74
1992.0            33.87     11.71     28.91         1.65
1993.0            15.12      4.65     25.33         0.89
1994.0            28.15     14.88     33.99         2.20
1995.0            24.82     14.90     45.75         2.64
1996.0            86.76     47.26     57.44         7.69
1997.0            94.75     48.32     48.87         9.13
1998.0           128.36     66.90     50.04        11.03
1999.0           126.06     62.67     52.34        10.05
2000.0            94.49     52.75     42.77        11.62
2001.0           173.98     94.89     39.86        22.76
2002.0           216.19    109.74     41.76        27.28
2003.0           193.59    103.81     34.20        26.01
2004.0           222.59    107.32     41.65        47.29
2005.0           242.61    121.94     54.28        40.58
2006.0           263.12    129.24     73.73        54.43
2007.0           312.05    160.50     60.29        77.60
2008.0           351.44    184.40     60.26        82.39
2009.0           338.85    191.59     61.89        74.77
2010.0           304.24    176.73     59.49        59.90
2011.0           241.06    167.44     53.04        54.39
2012.0           154.96    118.78     51.74        37.82
2013.0           154.77    125.80     47.59        39.82
2014.0           131.97    125.65     39.46        40.02
2015.0           102.82     97.71     33.72        30.01
2016.0            22.66     26.76     13.70         7.75
2017.0             0.00      0.00      0.05         0.00
2020.0             0.27      0.00      0.00         0.02
Not Mentioned     59.52     25.01      6.72         8.74

#### Question 10: What is the average sales per publisher?

In [98]:
avg_sales_publisher = (
    df.groupby('Publisher')['Global_Sales']
      .mean()
      .sort_values(ascending=False)
)

print("Average sales per publisher: ")
avg_sales_publisher.head(10)

Average sales per publisher:

Publisher
Palcom                                4.170000
Red Orb                               2.620000
Nintendo                              2.541337
Arena Entertainment                   2.360000
UEP Systems                           2.250000
RedOctane                             2.170000
Valve                                 1.740000
Hello Games                           1.600000
Sony Computer Entertainment Europe    1.592667
Westwood Studios                      1.550000
Name: Global_Sales, dtype: float64

#### Question 11:  What are the top 5 best-selling games per platform?

In [101]:
top5_per_platform = (
    df.groupby('Platform')
      .apply(lambda x: x.sort_values('Global_Sales', ascending=False).head(5))
      .reset_index(drop=True)
)

print("Top 5 best selling games per plateform:")
top5_per_platform[['Platform', 'Name', 'Year', 'Global_Sales']]

Top 5 best selling games per plateform:

C:\Users\Shrey\AppData\Local\Temp\ipykernel_21224\4244088698.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sort_values('Global_Sales', ascending=False).head(5))

    Platform                            Name           Year  Global_Sales
0       2600                         Pac-Man         1982.0          7.81
1       2600                        Pitfall!         1981.0          4.50
2       2600                       Asteroids         1980.0          4.31
3       2600                 Missile Command         1980.0          2.76
4       2600                  Space Invaders  Not Mentioned          2.53
..       ...                             ...            ...           ...
137     XOne       Call of Duty: Black Ops 3         2015.0          7.30
138     XOne  Call of Duty: Advanced Warfare         2014.0          5.13
139     XOne              Grand Theft Auto V         2014.0          5.08
140     XOne               Halo 5: Guardians         2015.0          4.26
141     XOne                       Fallout 4         2015.0          4.09

[142 rows x 4 columns]